body{
  font-family: Arial, Helvetica, sans-serif;
  background: #f0f2f5;
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  margin:0
}
.form-container{

  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 12 px rgba(0,0,0,0.1);
  width: 400px;

}
label{
  display:block;
  margin:10px 0 5px;
  font-weight: bold;
}

input[type="text"],input[type="email"],input[type="password"],select, textarea{
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid bisque;
  margin-bottom: 15px;
  padding:10px;
  width: 100%;
}
.radio-group, .checkbox-group{
  margin-bottom: 15px;
}
.radio-group  label, .checkbox-group label{
  font-weight: normal;
  margin-right: 15px;
}
textarea{
  resize:vertical;
}
button:hover{ 
  background-color: aquamarine;
}
button{
  width:100%;
  padding: 12px;
  border-radius:8px;
  background: #4caf54;
  color:white;
  font-size:16px;
  cursor:pointer;
  transition: background-color 0.3s ease;
  
}
